@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}
h1 {
  font-size: 6rem !important;
}
h3 {
  font-size: 2rem !important;
}

.background-img {
  position: relative;
  background-image: url('./assets/particle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  background-position: bottom;
}
.background-img:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
  width: 100%;
  height: 200vh;
  bottom: 0;
  left: 0;
  
}

.nav-index {
  z-index: 999;
}
.nav-color {
  gap: 20px;
}
.nav-color a {
  color: white !important;
}
.nav-dd a {
  color: black !important;
}
.big-text span {
  position: absolute;
  font-size: 16px;
  top: 135px;
  left: 20px;
}
.page-footer {

  background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
}

/* SLIDER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.mySwiper-custom {
  width: 100%; /* Adjust width as needed */
  height: 400px; /* Set an appropriate height for the vertical slider */
}



/* Cards Data CSS START*/

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

/* .swiper-slide-bg{
  background: radial-gradient(circle at 10% 20%, rgb(111, 111, 219) 0%, rgb(182, 109, 246) 72.4%);
} */

/* Cards Data CSS END */

/* Pricing Table  */
.card2 {
  border:none;
  padding: 10px 30px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card2:hover {


  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden; 
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
}

.card2:hover::after {
  opacity: 1;
}

.card2:hover .btn-outline-primary{
  color:white;
  background:#007bff;
}

.list-group-item::before {
  content: '';
  display: block;
  width: 14px; /* Set your desired width */
  height: 14px; /* Set your desired height */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><path d="M20 6L9 17l-5-5"/></svg>') no-repeat center center;
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat;
  position: absolute; /* Adjust position as needed */
  top: 36%; /* Adjust position as needed */
  left: 0; /* Adjust position as needed */
}
/* END  */


@media only screen and (max-width: 767px) {
  h1 {
    font-size: 4rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  .rem-br {
    display: none;
  }
  .big-text span {
    position: absolute;
    font-size: 16px;
    top: 95px;
    left: 20px;
  }
  .card2 {
    border:none;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .list-group-item::before {
    content: '';
    display: block;
    width: 14px; /* Set your desired width */
    height: 14px; /* Set your desired height */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><path d="M20 6L9 17l-5-5"/></svg>') no-repeat center center;
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    position: absolute; /* Adjust position as needed */
    top: 36%; /* Adjust position as needed */
    left: 1%; /* Adjust position as needed */
  }
  
}